In [113]:
# install pandas

In [114]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#import labraries

In [115]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [ ]:
#load csv data

In [16]:
orders = pd.read_csv("orders.csv")

In [ ]:
#load json data

In [42]:
users = pd.read_json("users.json")

In [ ]:
#load sql data

In [19]:
conn = sqlite3.connect("restaurants.db")

In [23]:
file = open("restaurants.sql", "r")
sql_script = file.read()
file.close()

conn.executescript(sql_script)

In [ ]:
#merge csv and json file

In [43]:
df = pd.merge(
    orders,
    users,
    how="left",
    on="user_id"
)

In [37]:
restaurants = pd.read_sql_query(
    "Select * FROM restaurants",
    conn
)

In [ ]:
#merge with sql dataset

In [38]:
df = pd.merge(
    df,
    restaurants,
    how="left",
    on="restaurant_id"
)

In [39]:
df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           10000 non-null  int64
 1   user_id            10000 non-null  int64
 2   restaurant_id      10000 non-null  int64
 3   order_date         10000 non-null  object
 4   total_amount       10000 non-null  float64
 5   restaurant_name_x  10000 non-null  object
 6   name               10000 non-null  object
 7   city               10000 non-null  object
 8   membership         10000 non-null  object
 9   restaurant_name_y  10000 non-null  object
 10  cuisine            10000 non-null  object
 11  rating             10000 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 937.6+ KB

In [41]:
df.to_csv("final_food_delivery_dataset.csv, index=False")

In [46]:
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name', 'name', 'city', 'membership'],
      dtype='object')

In [ ]:
#mcq answers

In [47]:
df[df["membership"] == "Gold"] \
  .groupby("city")["total_amount"] \
  .sum() \
  .idxmax()

'Chennai'

In [50]:
users.columns

Index(['user_id', 'name', 'city', 'membership'], dtype='object')

In [52]:
df = df.merge(
    users[["user_id", "membership"]],
    on="user_id",
    how="left"
)

In [56]:
df[df["membership"] == "Gold"] \
  .groupby("city")["total_amount"] \
  .sum() \
  .idxmax()

'Chennai'

In [57]:
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name', 'name', 'city', 'membership_x', 'membership_y',
       'membership'],
      dtype='object')

In [64]:
restaurants.columns

Index(['restaurant_id', 'restaurant_name', 'cuisine', 'rating'], dtype='object')

In [65]:
df = df.merge(
    restaurants[["restaurant_id", "cuisine"]],
    on="restaurant_id",
    how="left"
)

In [66]:
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name', 'name', 'city', 'membership_x', 'membership_y',
       'membership', 'cuisine'],
      dtype='object')

In [67]:
df.groupby("cuisine")["total_amount"] \
  .mean() \
  .idxmax()

'Mexican'

In [69]:
df.groupby("user_id")["total_amount"] \
  .sum() \
  .gt(1000) \
  .sum()

np.int64(2544)

In [75]:
restaurants.columns

Index(['restaurant_id', 'restaurant_name', 'cuisine', 'rating'], dtype='object')

In [76]:
df = df.merge(
    restaurants[["restaurant_id", "rating"]],
    on="restaurant_id",
    how="left"
)

In [77]:
df["rating_range"] = pd.cut(
    df["rating"],
    bins=[0, 2, 3, 4, 5],
    labels=["0–2", "2–3", "3–4", "4–5"]
)

In [119]:
df.groupby("rating_range")["total_amount"] \
  .sum() \
  .idxmax()

C:\Users\Anushaka\AppData\Local\Temp\ipykernel_2668\1064735105.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("rating_range")["total_amount"] \

'4–5'

In [79]:
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name', 'name', 'city', 'membership_x', 'membership_y',
       'membership', 'cuisine', 'rating', 'rating_range'],
      dtype='object')

In [80]:
df[df["membership"] == "Gold"] \
  .groupby("city")["total_amount"] \
  .mean() \
  .idxmax()

'Chennai'

In [81]:
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name', 'name', 'city', 'membership_x', 'membership_y',
       'membership', 'cuisine', 'rating', 'rating_range'],
      dtype='object')

In [82]:
cuisine_stats = (
    df.groupby("cuisine")
      .agg(
          restaurant_count=("restaurant_id", "nunique"),
          total_revenue=("total_amount", "sum")
      )
      .sort_values(["restaurant_count", "total_revenue"], ascending=[True, False])
)

cuisine_stats

         restaurant_count  total_revenue
cuisine
Chinese               120     1930504.65
Italian               126     2024203.80
Indian                126     1971412.58
Mexican               128     2085503.09

In [83]:
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name', 'name', 'city', 'membership_x', 'membership_y',
       'membership', 'cuisine', 'rating', 'rating_range'],
      dtype='object')

In [84]:
gold_percentage = round(
    (df[df["membership"] == "Gold"].shape[0] / df.shape[0]) * 100
)

gold_percentage

50

In [85]:
restaurant_stats = (
    df.groupby("restaurant_id")
      .agg(
          order_count=("total_amount", "count"),
          avg_order_value=("total_amount", "mean")
      )
)

In [86]:
filtered_restaurants = restaurant_stats[
    restaurant_stats["order_count"] < 20
]

In [87]:
top_restaurant_id = filtered_restaurants["avg_order_value"].idxmax()
top_restaurant_id

np.int64(294)

In [88]:
restaurants.loc[
    restaurants["restaurant_id"] == top_restaurant_id,
    "restaurant_name"
]

293    Restaurant_294
Name: restaurant_name, dtype: object

In [89]:
restaurants.loc[
    restaurants["restaurant_name"] == "Restaurant_294"
]

     restaurant_id restaurant_name  cuisine  rating
293            294  Restaurant_294  Italian     3.1

In [91]:
df.groupby(["membership", "cuisine"])["total_amount"] \
  .sum() \
  .idxmax()

('Regular', 'Mexican')

In [117]:
df["order_date"] = pd.to_datetime(df["order_date"])

In [93]:
df["quarter"] = df["order_date"].dt.to_period("Q")

In [94]:
df.groupby("quarter")["total_amount"] \
  .sum() \
  .idxmax()

Period('2023Q3', 'Q-DEC')

In [106]:
#Numerical Answers

In [95]:
gold_orders_count = df[df["membership"] == "Gold"].shape[0]
gold_orders_count

4987

In [96]:
hyderabad_revenue = round(
    df[df["city"] == "Hyderabad"]["total_amount"].sum()
)

hyderabad_revenue

1889367

In [97]:
distinct_users = df["user_id"].nunique()
distinct_users

2883

In [98]:
gold_aov = round(
    df[df["membership"] == "Gold"]["total_amount"].mean(),
    2
)

gold_aov

np.float64(797.15)

In [99]:
high_rating_orders = df[df["rating"] >= 4.5].shape[0]
high_rating_orders

3374

In [100]:
top_city = (
    df[df["membership"] == "Gold"]
      .groupby("city")["total_amount"]
      .sum()
      .idxmax()
)

top_city

'Chennai'

In [101]:
orders_count = df[
    (df["membership"] == "Gold") & (df["city"] == top_city)
].shape[0]

orders_count

1337

In [ ]:
#fill in the blanks

In [102]:
df.shape[0]

10000